#EXTM3U
#EXT-X-TARGETDURATION:{{duration}}
#EXT-X-MEDIA-SEQUENCE:{{sequence}}
{{#display}}
{{#gap}}
#EXT-X-DISCONTINUITY
{{/gap}}
{{#filename}}
#EXTINF:{{duration}},
{{{filename}}}
{{/filename}}
{{/display}}