#EXTM3U
#EXT-X-VERSION:3
#EXT-X-ALLOW-CACHE:NO
#EXT-X-TARGETDURATION:{{target_duration}}
#EXT-X-MEDIA-SEQUENCE:{{sequence}}
{{#formattedSegments}}
{{#segment}}
#EXTINF:{{duration}},
{{{file}}}
{{#last_segment}}
#EXT-X-DISCONTINUITY
{{/last_segment}}
{{/segment}}
{{/formattedSegments}}