body {
  font: 10px Helvetica, Arial, sans-serif;
  margin-top: 5em;
  background: #000;
}

a {
  color: #00B7FF;
}

header {
	z-index: 1000;
	position: fixed;
	height:4em;
	left:0;
	top:0;
	background: url('/images/logo.svg');
	background-repeat: no-repeat;
	width:100px;
	height:100px;
	padding-left: 250px;
	background-size: contain;
	opacity: 1;
	color:#888;
	margin-left:10px;
	margin-top:10px;
	-webkit-transition: opacity 5s;
	-o-transition: opacity 5s;
	transition: opacity 5s;
}
.loaded header {
	opacity: .5;
}

#play {
	color:#FFF;
	font-size: 100px;
	cursor: pointer;
	display: none;
	height: 100%;
	line-height: 109px;
}
.ios #play {
	display: block;
}

h1 {
	margin:0;
	padding:.5em;
}

#video {
	display: block;
	margin:0 auto;
	position: fixed;
	width:100% !important;
	height:100% !important;
	top:0;
	left:0;
}